/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#636363;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  position: absolute;
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  
  background-image: url('../images/Img.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.main{
 position: absolute;
 height: 100%;
 width: 100%;

}

.bordera{
  border: 10px black solid;
}

.container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height:100%;
}
.zin{
  z-index: 1;
}

.zind{
  z-index: 2;
}

.button {
  display: inline-block;
  border-radius: 5px;
  background-color: #ffffff83;
  border: 1px rgb(0, 0, 0) solid;
  color: rgb(134, 134, 134);
  text-align: center;
  font-size: 40px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.button:hover{
  background-color: #b8b3b362;
  border: 1px rgb(255, 255, 255) solid;
  color: white;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.siz{
  font-size: 30px;
  padding: 1px;
  color: white;
}

.jumbotron{
  margin-bottom: 0px;
  background-image: url(../images/robo1.jpg);
  height: 100%;
  color: white;
}

.white{
  color: white;
  text-decoration: none;
}

.about{
  color: white;
}

#align-middle{
  padding-top: 50px;
}

.test {
  display: inline-block;
  border-radius: 5px;
  background-color: #ffffff83;
  border: 1px rgb(0, 0, 0) solid;
  color: rgb(134, 134, 134);
  text-align: center;
  font-size: xx-large;
  padding: 50px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.test:hover{
  background-color: #b8b3b362;
  border: 1px rgb(255, 255, 255) solid;
  color: white;
}