body{
    padding: 0px ,0px;
    margin: 0px , 0px;
    background-image: url('bg5.jpg '  );
    background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   text-transform: capitalize;
   /* This line hide the scollbar */
   overflow: hidden;

     
}

.container{
    text-align: center;
    background-color: rgba(41, 209, 221, 0.521);
    border: 5px solid rgba(122, 127, 128, 0.658);
    padding: 20px 50px;
    margin: 20px , 20px;
    flex: 0 0 25%;
}


blockquote{
    background-color: rgba(150, 148, 148, 0.671);
    padding: 1rem;
    margin: 1rem;
    border-left: 10px solid rgba(122, 127, 128, 0.658);

}

#quote_btn{
    background-color:rgba(150, 148, 148, 0.671);
    border-radius: 50px 50px;
    border:3px solid rgba(0, 0, 0, 0.658);
    font-size: 1.3rem;
    padding: 20px 20px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    color: black;
}

#quote_btn:hover{
    background-color:  rgba(0, 0, 0, 0.658);
    border: 3px solid gray ;
    color: wheat;
    
}
.block{

    background-color: rgba(150, 148, 148, 0.671);
    padding: 0.5rem;
    margin: 0.5rem;
    border-left: 10px solid rgba(122, 127, 128, 0.658);


}

